@import '../../styles/colours';

:host {
  .header {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &__text {
      flex: 1;
      display: flex;
      justify-content: center;
      color: var(--text-1);
      strong {
        padding-left: 0.26rem;
        min-width: 3.3rem;
        color: var(--highlighted-text);
        text-shadow: var(--highlighted-text-shadow);
      }
    }

    &__theme {
      padding-right: 1rem;
      .switch {
        background-color: $gray-9;
        border-radius: 1rem;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        
        &::after {
          content: '';
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          background-color: $gray-3;
          top: 2.6px;
          left: 2px;
          right: unset;
          border-radius: 1rem;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.2);
        }

        &.active {
          background-color: $orange-3;
          &::after {
            background-color: $gray-2;
            right: 3px;
            left: unset;
          }
          span {
            color: $gray-9;
          }
        }

        span {
          width: 1.9rem;
          height: 1.9rem;
          line-height: 1.9rem;
          display: block;
          background: none;
          color: $gray-1;
          font-size: 1.2rem;
        }
      }
    }
  }
}
