:host {
  .container {
    .config-bar {
      color: var(--text-1);
      margin: 2rem 4rem;
      border: 1px solid var(--border-color);
      background-color: var(--background-bar);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 2px;
    }
  }
}