<div class="container">
  <div class="config-bar">
    <div class="app-name">{{ "APP_NAME" | translate }}</div>
    <div class="button-config">
      <a [routerLink]="['cfg']">
        <i class="ri-settings-3-fill"></i>
      </a>
    </div>
  </div>

  <div class="data-container">
    <app-input
      type="text"
      aria-labelledby="Clave"
      label="Clave">
    </app-input>
    <app-input
      type="text"
      aria-labelledby="Valor"
      label="Valor">
    </app-input>
    <app-text-area
      label="JSON"></app-text-area>
  </div>
</div>