<div class="container">
  <div class="config-bar">
    <div class="app-name">{{ "APP_NAME" | translate }}</div>
    <div class="button-config">
      <a [routerLink]="['cfg']">
        <i class="ri-settings-3-fill"></i>
      </a>
    </div>
  </div>

  <div class="data-container">
    <div class="top-left">
      <app-input type="text" aria-labelledby="Clave" label="Clave"></app-input>
    </div>
    <div class="tip-right">
      <app-input type="text" aria-labelledby="Valor" label="Valor"></app-input>
    </div>
    <div class="bottom-left">
      <app-text-area label="JSON"></app-text-area>
    </div>
    <div class="bottom-right">
      <app-dropdown label="Lenguaje de entrada"></app-dropdown>
    </div>
  </div>
</div>
