@import '../../styles/animations';

:host {
  .group {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 1rem;

    &__input {
      cursor: pointer;
      width: 100%;
      min-height: 2.4rem;
      font-size: 16px;
      border: none;
      outline: none;
      background: transparent;
      color: var(--text-1);
      border-bottom: 1px solid var(--text-2);
      &:focus {
        border-bottom-color: var(--focus-input);
        color: var(--text-1);
        border-bottom-width: 0.129rem;
      }
      &:focus + .group__label {
        color: var(--focus-input);
      }
    }

    .state-icon {
      position: absolute;
      display: flex;
      right: 0;
      top: 1.8rem;
      i {
        font-size: 1.4rem;
        color: var(--text-1);
      }

      .open {
        animation: dropDownArrow 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
    }

    &__label {
      position: absolute;
      top: 16px;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      pointer-events: none;
      transition: 0.5s;
      text-transform: capitalize;
      color: var(--text-1);
    }

    &__label.focused {
      top: -7px;
      left: 0;
      font-size: 12px;
    }

    &__options {
      position: absolute;
      width: 100%;
      z-index: 1;
      color: var(--text-1);
      background-color: var(--options-background);
      ul {
        list-style: none;
        li {
          min-height: 2.2rem;
          padding: 0.5rem 0.5rem 0.5rem 0.7rem;
          cursor: pointer;
          &:hover {
            background-color: var(--options-hover);
          }
        }
      }
    }
  }

  //   .group__input:focus + .group__label,
  // .group__input:not(:placeholder-shown).group__input:not(:focus)
  //   + .group__label {
  //   top: -7px;
  //   left: 0;
  //   font-size: 12px;
  // }
}