@import './colours';
@import './sizes';

$background-dark: $gray-9;
$background-light: $gray-0;

$text-1-light: $gray-9;
$text-2-light: $gray-7;
$text-1-dark: $gray-1;
$text-2-dark: $gray-2;

$highlighted-text-light: $indigo-9;
$highlighted-text-light-shadow: 0 0 15px $indigo-7;
$highlighted-text-dark: $indigo-1;
$highlighted-text-dark-shadow:
  0 0 10px $indigo-5,
  0 0 25px $indigo-7;

$border-light: $gray-3;
$border-dark: $gray-7;

$background-bar-dark: $gray-8;
$background-bar-light: $gray-0;

$gradient-1-direction: to right;
$gradient-2-direction: to bottom right;
$gradient-light: linear-gradient($gradient-1-direction,#1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
$gradient-dark: linear-gradient($gradient-2-direction,#00F5A0,#00D9F5);

$box-shadow-light: 3px 8px 22px -19px rgba(0 0 0 / 0.81);
$box-shadow-dark: 23px 23px 39px 2px rgba(0 0 0 / 0.87);

$focus-input-light: $indigo-9;
$focus-input-dark: $indigo-3;

$text-area-scrollbar-thumb-light: $indigo-3;
$text-area-scrollbar-thumb-dark: $indigo-2;

$text-area-background-light: $gray-1;
$text-area-background-dark: $gray-7;

$options-background-light: $gray-1;
$options-background-dark: $gray-7;