@import 'remixicon/fonts/remixicon.css';
@import './app/shared/styles/variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-page-background: #{$color-gray-dark};
  --color-text: #{$color-black};
  --color-border: #{$color-black};
  --color-article-background: #{$color-white};
  --color-article-shadow: #{$color-gray-dark};
  --background: #{$background-light};
}

.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
  --color-border: #{$color-white};
  --color-article-background: #{$color-gray-light};
  --color-article-shadow: #{$color-gray-dark};
  --background: #{$background-dark};
}


