@import 'remixicon/fonts/remixicon.css';
@import './app/shared/styles/variables';
@import './app/shared/styles/fonts';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

:root {
  --border-color: #{$border-light};
  --background-bar: #{$background-bar-light};
  --background: #{$background-light};
  --text-1: #{$text-1-light};
  --text-2: #{$text-2-light};
  --highlighted-text: #{$highlighted-text-light};
  --highlighted-text-shadow: #{$highlighted-text-light-shadow};
  --gradient-text: #{$gradient-light};
  --box-shadow: #{$box-shadow-light};
  --focus-input: #{$focus-input-light};
  --text-area-scrollbar-thumb: #{$text-area-scrollbar-thumb-light};
  --text-area-background: #{$text-area-background-light};
  --options-background: #{$options-background-light};
  --options-hover: #{$options-hover-light};
  --button-submit-background: #{$submit-btn-bg-light};
}

.dark {
  --border-color: #{$border-dark};
  --background-bar: #{$background-bar-dark};
  --background: #{$background-dark};
  --text-1: #{$text-1-dark};
  --text-2: #{$text-2-dark};
  --highlighted-text: #{$highlighted-text-dark};
  --highlighted-text-shadow: #{$highlighted-text-light-shadow};
  --gradient-text: #{$gradient-dark};
  --box-shadow: #{$box-shadow-dark};
  --focus-input: #{$focus-input-dark};
  --text-area-scrollbar-thumb: #{$text-area-scrollbar-thumb-dark};
  --text-area-background: #{$text-area-background-dark};
  --options-background: #{$options-background-dark};
  --options-hover: #{$options-hover-dark};
  --button-submit-background: #{$submit-btn-bg-dark};
}
