@import 'remixicon/fonts/remixicon.css';
@import './app/shared/styles/variables';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
  --color-page-background: #{$color-gray-dark};
  --color-text: #{$color-black};
  --color-border: #{$color-black};
  --color-article-background: #{$color-white};
  --color-article-shadow: #{$color-gray-dark};
  --background: #{$background-light};
  --text-1: #{$text-1-light};
  --text-2: #{$text-2-light};
  --highlighted-text: #{$highlighted-text-light};
  --highlighted-text-shadow: #{$highlighted-text-light-shadow};
}

.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
  --color-border: #{$color-white};
  --color-article-background: #{$color-gray-light};
  --color-article-shadow: #{$color-gray-dark};
  --background: #{$background-dark};
  --text-1: #{$text-1-dark};
  --text-2: #{$text-2-dark};
  --highlighted-text: #{$highlighted-text-dark};
  --highlighted-text-shadow: #{$highlighted-text-light-shadow};
}


